body {
    height: auto;
}

header {
    background-color: rgb(24, 151, 75);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.sectionHeader {
    height: 50px;
    padding: 20px 0 40px 0;
    text-align: center;
}

#sectionNav {
   display: block;
   padding: 5px;
   text-align: center;
   text-justify: center;
}

.navButton {
    padding: 10px;
    border-radius: 5px;
    margin: 0 5px 10px 5px;
}
.navButton:hover {
    background-color: rgb(138, 205, 165);
}
.navButtonSelected {
    background-color: rgb(138, 205, 165);
}

.sectionMain {
    height: auto;
    min-height: 80vh;
    padding: 20px;
    background-color: rgb(138, 205, 165)
}

.sectionCard {
    display: block;
    background-color: rgb(179, 231, 201);
    border-radius: 20px;
    padding: 20px 20px 10px 20px;
    margin: 0 auto 0 auto;
    max-width: 800px;
}

#aboutMeCard{
    padding-bottom: 90px;
    margin: auto auto auto auto;
}
.headshot{
    float: right;
    width: 30%;
    margin: auto auto 10px auto;
}

.sectionPortfolioItem {
    display:block;
    text-align: center;
    background-color: rgb(179, 231, 201);
    border-radius: 20px;
    padding: 20px;
    margin: 0 auto 20px auto;
    max-width: 800px;
}
.portfolioImage {
    width: 80vw;
    max-width: 700px;
    border-radius: 10px;
    margin-top: 8px;
    opacity: 70%;
}
.portfolioImage:hover {
    opacity: 100%;
    width: 81vw;
    max-width: 710px;
}
.logoHyperlink {
    opacity: 50%;
    width: 10vw;
    max-width: 80px;
    margin: 10px 0 0 0;
}
.logoHyperlink:hover {
    opacity: 100%;
    width: 11vw;
    max-width: 85px;
}

.contactInput {
    margin: 0 0 10px 0;
}
.contactInputMessage {
    height: 200px;
    width: 100%;
    resize: none;
}
#sectionContactThanks {
    text-align: center;
    margin-bottom: 10px;
}

.sectionCardResume {
    height: 1000px;
    padding-bottom: 50px;
}
#buttonDownloadResume {
    background-color:white;
    border-radius: 5px;
    border-color:rgb(138, 205, 165);
    border-style: solid;
}
#buttonDownloadResume:hover {
    background-color:rgb(179, 231, 201);
    border-color:rgb(24, 151, 75);
}

footer {
    padding: 0 0 10px 0;
    text-align: center;
    background-color: rgb(24, 151, 75)
}